<div class="parent-wrapper" [class.light-theme]="themeStateLocal" >
  <!-- Footer -->
  <mat-toolbar class="toolbar">
    <div class="toolbar-header">
      <mat-icon>Personal Task Manager</mat-icon>
      <span>Personal Task Manager</span>

      <div class="search-container">
        <mat-form-field  appearance="fill" [style.width.px]="400" class="search-field">
          <mat-label>Category Or Title</mat-label>
          <input matInput
          placeholder="Search Task"
          aria-label="searchTerm"
          [formControl]="searchTerm"
          [matAutocomplete]="auto"
        />
          <mat-autocomplete #auto="matAutocomplete">
              <mat-option [value]="allSearch">
                All
              </mat-option>
              <mat-option *ngFor="let category of categories" [value]="category">
                  {{category}}
              </mat-option>
          </mat-autocomplete>
          <button class="search-button" mat-button (click)="searchTasks()">
            <mat-icon class="search-icon">
              search
            </mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- changing view-->
      <mat-form-field appearance="fill" style="margin-left: 80px;">
        <mat-label>Change View</mat-label>
        <mat-select [(value)]="currentViewState">
          <mat-option value="all">Default</mat-option>
          <mat-option *ngFor="let view of views" [value]="view" (onSelectionChange)="changeView($event)">
              {{view === 'all' ? 'All' : 'Category View'}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <!-- Dark and light mode toggle-->
      <button mat-button class="theme-button"
      (click)="themeChange()"
      *ngIf="!themeStateLocal">
        <mat-icon>
          dark_mode
        </mat-icon>
      </button>
      <button *ngIf="themeStateLocal" mat-button class="theme-button"
      (click)="themeChange()">
        <mat-icon>
          wb_sunny
        </mat-icon>
      </button>
      
    </div>
  
    <div class="container-wrapper">
      <button (click)="openDialog()" mat-button >
        <mat-icon>add</mat-icon> Add New Task
      </button>
    </div>
  
  </mat-toolbar>
  <!-- app wrapper-->
  <div *ngIf="!localCategoryView" class="app-wrapper" >
    <div *ngIf="!localFilterState">
      <h3 class="task-header">
        All Tasks
      </h3>
    </div>

    <div *ngIf="localFilterState">
      <h3 class="task-header">
        Filtered Tasks
      </h3>
    </div>
    
    <div class="all-task-container" *ngIf="localFilterState">
        <app-task *ngFor="let task of filteredTodos" [task]="task"
        ></app-task>
    </div>


    <div class="all-task-container" *ngIf="!localFilterState">
        <app-task *ngFor="let task of todos" [task]="task"
        ></app-task>
    </div>
  
  </div>

  <div *ngIf="localCategoryView" class="category-wrapper">
    <h3 class="task-header">
      Categorical Distribution
    </h3>
    <div class="category-task-container">
      <app-category-tasks [categoryTasks]="categoricalTasks"></app-category-tasks>
    </div>
  </div>
</div>




