<div class="parent-wrapper" [class.light-theme]="themeStateLocal" >
  <!-- Footer -->
  <mat-toolbar class="toolbar">
    <div class="toolbar-header">
      <mat-icon>Personal Task Manager</mat-icon>
      <span>Personal Task Manager</span>

      <div class="search-container">
        <mat-form-field  appearance="fill" [style.width.px]="400" class="search-field">
          <mat-label>Category Or Title</mat-label>
          <input matInput
          placeholder="Search Task"
          aria-label="searchTerm"
          [formControl]="searchTerm"
          [matAutocomplete]="auto"
        />
          <mat-autocomplete #auto="matAutocomplete">
              <mat-option [value]="allSearch">
                All
              </mat-option>
              <mat-option *ngFor="let category of categories" [value]="category">
                  {{category}}
              </mat-option>
          </mat-autocomplete>
          <button class="search-button" mat-button (click)="searchTasks()">
            <mat-icon class="search-icon">
              search
            </mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Dark and light mode toggle-->
      <button mat-button class="theme-button"
      (click)="themeChange()"
      *ngIf="!themeStateLocal">
        <mat-icon>
          dark_mode
        </mat-icon>
      </button>
      <button *ngIf="themeStateLocal" mat-button class="theme-button"
      (click)="themeChange()">
        <mat-icon>
          wb_sunny
        </mat-icon>
      </button>
      
    </div>
  
    <div class="container-wrapper">
      <button (click)="openDialog()" mat-button >
        <mat-icon>add</mat-icon> Add New Task
      </button>
    </div>
  
  </mat-toolbar>
  <!-- app wrapper-->
  <div class="app-wrapper" >
    <div *ngIf="!localFilterState">
      <h3>
        All Tasks
      </h3>
    </div>

    <div *ngIf="localFilterState">
      <h3>
        Filtered Tasks
      </h3>
    </div>
    
    <div class="all-task-container" *ngIf="localFilterState">
        <app-task *ngFor="let task of filteredTodos" [task]="task"
        ></app-task>
    </div>


    <div class="all-task-container" *ngIf="!localFilterState">
        <app-task *ngFor="let task of todos" [task]="task"
        ></app-task>
    </div>
  
  </div>
</div>




