<div class="category-task-container" cdkDropListGroup fxFlex> 
        <ul cdkDropList
         *ngFor="let categoryTask of categoryTasks | keyvalue" class="category-task-block">
            <h1 class="category-header" style="color:white; font-weight:bold">
                #{{textFormatter(categoryTask.key)}}
            </h1>
            <li class="task-card" *ngFor="let task of fetchObjectValues(categoryTask.key)">
                <mat-card fxFlex>
                    <div>
                        {{task.title}}
                        <div style="color:rgb(246, 122, 122);">
                            Description: {{task.description}}
                        </div>
                    </div>
                    <mat-card-actions>
                        <button mat-raised-button color="warn" (click)="getDeleteId(task.id, task.category)" >Delete</button>
                        <button mat-raised-button color="primary" (click)="getEditContent(task)">Edit</button>
                    </mat-card-actions>
                </mat-card>
            </li>
        </ul>
</div>
